<!DOCTYPE html>
<html>
  <head>
    <title>APIs</title>

    <style>
      a {
      color:white
      }
    </style>
    
  </head>

  <body style="text-align:center;background-color:black;color:white">
    <!-- Memes -->
    <h1>The Meme of the Century</h1>

    <img src={{ meme_data['result']['instanceImageUrl'] }} style="height:50%">
    <br>
    <p>
      View source:
      <a href={{ meme_data['result']['instanceUrl'] }}>{{ meme_data['result']['instanceUrl'] }}</a>
      <br>
      <br>
      Powered by memegenerator.net
    </p>

    <br><br>
    <hr>

    <!-- Bored -->
    <h1>I'm Bored. What Should I Do?</h1>
    
    <p>
      Your activity: {{ bored_data['activity'] }}<br>
      Accessibility: {{ bored_data['accessibility'] }}<br>
      Type: {{ bored_data['type'] }}<br>
      Participants: {{ bored_data['participants'] }}
    </p>
    
    <br><br>
    <hr>

    <!-- Norris -->
    <h1>Chuck Norris Joke #{{ norris_data['value']['id'] }}</h1>

    <p>{{ norris_data['value']['joke'] }}</p>

    <br>
    
  </body>
</html>
