<!DOCTYPE html>
<html>
  <head>
    <style>
      
      table {
      border-collapse: collapse;
      }
      
      table, th, td {
      border: 1px solid black;
      }

      th {
      text-align: left;
      }
      
    </style>
    <title>Occupations</title>
  </head>
  
  <body>
    <h1> The Sorting Hat has given you a new job! </h1>

    
    <p> This is your new occupation: {{ randomOcc }} </p>
    <br>
    
    <table style= "width:100%">
      <tr>
	<th> Occupation </th>
	<th> Percentage </th>
	<th> Getting started! </th>
      </tr>

      <tr> {% for item in collection %}
	<td> {{ item }} </td>
	<td> {{ collection[item][0] }} </td>
	<td> <a href="{{ collection[item][1] }}">{{ collection[item][1] }}</a> </td>
      </tr>
      {% endfor %}
      
      

  </body>
</html>
